<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            background-color: #bdd4e7;
            background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
            min-height: 100vh;
        }
    </style>
    <title>Find Record</title>
</head>

<body>

    <div class="container mx-auto text-center pt-8 text-gray-100">
        <div class="flex justify-end">
            <a href="/">
                <button
                    class="bg-blue-300 px-4 py-2 rounded shadow-lg text-gray-800 hover:bg-blue-200 transition duration-300">
                    Create
                </button>
            </a>
        </div>
        <form onsubmit="test()" class="mt-8 flex flex-col w-5/12 mx-auto gap-2">
            <span class="text-gray-100 text-lg text-gray-100">Database Name</span>
            <input required name="dbname" type="text"
                class="rounded px-4 py-2 text-gray-800 focus:outline-none shadow-lg">
            <span class="text-gy-100 text-lg text-gray-100">Collection Name</span>
            <input required name="colname" type="text"
                class="rounded px-4 py-2 text-gray-800 focus:outline-none shadow-lg">
            <div class="flex">
                <span class="text-gray-100 text-lg text-gray-100">Find
                    <input name="find" type="text" class="rounded px-4 py-2 text-gray-800 focus:outline-none shadow-lg">
                </span>
                <span class="text-gray-100 text-lg text-gray-100">Method
                    <input name="method" type="text"
                        class="rounded px-4 py-2 text-gray-800 focus:outline-none shadow-lg">
                </span>
            </div>
            <span class="text-gray-100 text-lg text-gray-100">Server Response</span>
            <textarea readonly name="" id="" cols="20" rows="10"
                class="rounded focus:outline-none shadow-lg text-gray-800 px-4 py-2">

            </textarea>
            <input class="bg-blue-700 py-2 px-4 rounded hover:bg-blue-800 transition duration-300" type="submit"
                value="Search">
        </form>
    </div>
    <script src="./scripts/scripts.js"></script>
</body>

</html>